body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 4.5em;
  font-weight: 900;
  padding: 30px 0;
}

h3 {
  font-size: 2em;
  padding: 10px 0;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  text-align: left;
  text-indent: 50px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
}


.author {
  font-size: 1.5em;
}

.logo {
  margin: 20px;
  width: 100px;
}


.medium-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}


.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

figure {
  text-align: center;
}

figcaption {
  padding: 10px 0;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
